<% include partials/header %>

<header>
    <h1>SIGNUP</h1>
</header>

<div class="content">
    <form class="content" class="new" action="/signup" method="post">
        <div>
            <input type="text" name="username" placeholder="username" required>
        </div>
        <div>
            <input type="password" name="password" placeholder="password" required>
        </div>
        <input type="submit">
    </form>
    <div>
        <a href="/">Go to landing page ..</a>
    </div>
</div>

<% include partials/footer %>